
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
    <link href="~/Content/Proscenium.css" rel="stylesheet" />
</head>
<body>
    <div class="body">

        <div class="navigation">
            <ul>
                <li><a href="#">游戏资讯</a></li>
                <li><a href="#">游戏资料</a></li>
                <li><a href="#">影音同人</a></li>
                <li><a href="#">玩家交流</a></li>
                <li><a href="#">联系客服</a></li>
            </ul>
        </div>
        <div class="top"></div>
        <div class="huodo">
            <div class="huodo_left"></div>
            <div class="huodo_right">123</div>
        </div>
        <div class="zy">
            <dl>
                <dt>term</dt>
                <dd>奥鲁维之刃</dd>
            </dl>
            <dl>
                <dt>term</dt>
                <dd>卡纳斯的启示</dd>
            </dl>
            <dl>
                <dt>term</dt>
                <dd>游荡者之歌</dd>
            </dl>
            <dl>
                <dt>term</dt>
                <dd>深渊的咆哮</dd>
            </dl>

        </div>

    </div>
</body>
</html>
